

.NewsItemsContainer {
    display:grid;
    width: 87%;
    min-height: 80vh; 
    grid-template-columns: [NewsHero] auto [NewsHero] auto [NewsHero] auto [NewsHero];
    grid-auto-rows: minmax(15em, auto);
    gap:39px;
}

.NewsHero {
    grid-column:1 / -1;
}
